html {
  font-family: fantasy;
}

header h2, nav {
  display: inline-block;
  /*margin: 16px 20px;*/
}

header nav {
  float: right;
  padding-right: 5%;
}

header h2 {
  padding-left: 40px;
  font-size: 2em;
}

header {
  /*margin: 0 7%;*/
  background: pink;
}

header nav {
  margin: .83em;
}

header li {
  display: inline-block;
  text-align: right;
  margin-left: 15px;
}

header a {
  text-decoration: none;
}

#cat {
  background-image: url("../assets/hero.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  max-width: 100%;
}

#cat h1 {
  line-height: 20;
  text-align: center;
  font-size: 2.5em;
  color: white;
  margin: 0 0;
}

.popular-posts {
  border-bottom: 3px solid black;
}

.popular-posts h2 {
  text-align: center;
}

.post-row {
  margin: 0 auto;
}

.popular-posts article {
  border: black 1px solid;
  border-radius: 20px;
  border-color: black;
  border-width: 3px;
  height: 200px;
  background: pink;
  margin: 15px;
  height: px;
  width: 30%;
  display: inline-grid;

}

.popular-posts article h3 {
  border-bottom: black 1px solid;*/
  /*border: dashed;*/
  border-color: black;
  border-width: 3px;
  text-align: center;
  padding-bottom: 10px;

}

.popular-posts article p {
  margin: 10px;
}

.popular-posts article a {
  border: blue 1px solid;
  border-radius: 6px;
  padding: 5px;
  margin-left: 200px;
  text-decoration: none;
  text-transform: uppercase;
}

#join img {
  display: inline-block;
  width: 10%;
}

.join_the_club {
  display: inline-block;
  /*margin: 10px 80% 35px 0%;*/
  width: 30%;
}

#join {
  margin: 1%;
  text-align: center;
}
.everybody {
  clear: both;
  background-image: url("../assets/everybody.jpg");
  background-size: cover;
  background-position: center;
  height: 700px;
  max-width: 100%;
}

.everybody h2 {
  line-height: 20;
  text-align: center;
  font-size: 2.5em;
  color: white;
}

footer nav {
  display: inline-block;
  width: 30%;
}

.copyright {
  display: inline-block;
  margin: 1%;
  width: 30%;
}

.copyright h4 {
  float: left;
  margin: 0;
}

.copyright p {
  margin: 0;
}

footer {
  margin: 0 auto;
}
